<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Feed Manager Web Application</display-name>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<env-entry>
		<env-entry-name>documentToNormalizeQueue</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>java:jboss/queue/feedmanager/document/to/normalize/persist/${app.context}</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>normalizedDocumentQueue</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>java:jboss/queue/feedmanager/document/normalized/persist/${app.context}</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>app.context</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${app.context}</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>app.address</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${app.address}</env-entry-value>
	</env-entry>
</web-app>